body {
  padding: 0;
  margin: 0;
  font-size: .9em;
  background: #1b1e27;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

button {
  display: inline-block;
  padding: .5em .8em;
  margin: .2em;
  background: #12151d;
  color: #fff;
  border: none;
}

header {
  background: rgba(47,54,70,.60);
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;

  h1 {
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 22px;

    small {
      color: #999;
      font-size: 11px;
      font-style: italic;
    }
  }

  nav {
    float: right;
  }
}

main {
  three,
  three-renderer {
    display: block;
    height: 100vh;
    width: 100%;
  }
}
